.search {
  margin: 40px 120px 40px;

  text-align: center;
}

.search__title {
  color: #ffffff;
  text-transform: uppercase;
}

.search__button {
  width: 170px;
  height: 62px;
  margin-top: 75px;
  margin-bottom: 72px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-jost;
  color: #ffffff;

  background-color: #0c0e10;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
